@model IEnumerable<Models.NextStep>

<div class="col-md-6">
    <div class="form-group">
        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
            <thead>
                <tr>
                    <th>
                        משימה
                    </th>
                    <th>
                        אחריות
                    </th>
                    <th>
                        תאריך יעד
                    </th>
                    <th>
                        תאריך נדחה
                    </th>
                </tr>
            </thead>
            <tbody>

            @foreach (var nextStep in Model)
            {
                 
                Html.RenderPartial("~/Views/Shared/Partials/NextSteps/_NextStepDisplay.cshtml", nextStep);
                                      
               
            }

              
            </tbody>
        </table>
     
    </div>
</div>
