@{
    ViewBag.Title = "Home Page";
}

@section PageLevelStyle
{
    <link href="@Url.Content("~/assets/plugins/data-tables/DT_bootstrap_rtl.css")" rel="stylesheet" type="text/css" />

}


@section CustomStyle
{
    <link href="@Url.Content("~/Content/CustomStyle.css")" rel="stylesheet" type="text/css" />

}

<div class="row">
    <div class="col-md-12">

        מערכת ניהול מסמכי החלטות 
    </div>

    <div class="col-md-12">

        מהו מסמך החלטה?

"מסמך החלטה" הוא כלי מובנה לתמיכה בתהליך קבלת החלטות וכן תיעוד מצב של שגרה\תכניתעבודה\פרוייקט\השקעה שהגיעו לצומת דרכים ויש צורך בקבלת החלטה להמשך דרך הפעולה, הבנת האפשרויות העומדות בטרם קבלת ההחלטה, תיעוד האפשרות הנבחרת תוך תיעוד מדוע נבחרה וע"י מי. "מסמך החלטה" משמש גם לצורכי עיון עתידיים על החלטות שנתקבלו בארגון ואת הרציונל העומד מאחוריהן.

מסמך החלטה מכיל:

1. החלטה שצריכה להתקבל - סעיף זה מתאר את ההחלטה שיש לבצע. התיאור צריך להיות מאוד ברור, אבל תמציתי. זהו תקציר מנהלים של מה שנמעני המסמך מתבקשים להחליט.

2. מצב נוכחי - סעיף זה חייב לכלול את מי, מה, מתי והיכן המצב המחייב החלטה. מתאר את ההיסטוריה של איך הגענו לנקודת קבלת החלטה. בעוד מקבלי ההחלטות צריכים להבין את הרקע, נדרש איזון זהיר של מתן מספיק היסטוריה מבלי להיכנס לפרטים מיותרים אך ממצה. מבחן אצבע טוב לתוכן שייכלל כאן הוא פשוט לשאול את עצמך, "האם מידע זה רלוונטי להחלטה?" במילים אחרות, האם הידיעה על פיסת ההיסטוריה או פרטי הסטטוס הנוכחי משפיעה על מקבלי ההחלטות בדרך זו או אחרת? אם התשובה היא כן, אז זה רלוונטי מספיק כדי להיכלל.

3. אפשרויות - רשימת אפשרויות אמיתיות שנשקלות בטרם קבלת החלטה. עבור כל אפשרות, הסבר תחילה את האפשרות בפירוט ולאחר מכן פריטת היתרונות והסיכונים הכרוכים בכל אפשרות מוצעת.

4. המלצה ונימוק – המלצת כותב המסמך הכוללת את אחת אפשרויות המוצעות, תוך נימוק ההמלצה לבחירה כגון סיכון נמוך ביותר\עלות כספית\רגישות בזמן.

5. החלטה – בחירת האפשרות הנבחרת להמשך פעולה.

6. צעדים להמשך – פירוט משימות, אחריות ותאריך יעד לביצוע כנגזרת של ההחלטה שנלקחה.

מסמכי החלטה בPHI

מערכת מסמכי ההחלטות נועדה להחלטות ברמת חברה,רשת ואגפיות. החלטות ברמות נמוכות מרמת אגף יותר לא אמורות להיות מתועדות במערכת החברה (ניתן להגדיר מערכות אגפיות ייעודיות).

המערכת בחברה באחריות ותמיכה של רם לוי.
    </div>

</div>